@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


@if (Model.ShowRequestId)
{

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5"class="text-danger">Ocurrió un error al procesar su solicitud.</p>
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
        <a asp-action="Index">&larr; Regresar</a>
    </div>

}
