@model WebAdmin.Models.RelVentaProducto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>RelVentaProducto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRelVentaProducto" />
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <input asp-for="IdCategoria" class="form-control" />
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProducto" class="control-label"></label>
                <input asp-for="IdProducto" class="form-control" />
                <span asp-validation-for="IdProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductoPrecioUno" class="control-label"></label>
                <input asp-for="ProductoPrecioUno" class="form-control" />
                <span asp-validation-for="ProductoPrecioUno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVenta" class="control-label"></label>
                <input asp-for="IdVenta" class="form-control" />
                <span asp-validation-for="IdVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioModifico" class="control-label"></label>
                <input asp-for="IdUsuarioModifico" class="form-control" />
                <span asp-validation-for="IdUsuarioModifico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstatusRegistro" class="control-label"></label>
                <input asp-for="IdEstatusRegistro" class="form-control" />
                <span asp-validation-for="IdEstatusRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
