@media print {
  .no-print {
    visibility: hidden;
    min-width: 0px;
      width:-8000px;
      display: hidden;
      top: 0%;
  }
  
}
@media (min-width: 0px) {
  .sidebar {
    width: 0px !important;
    top: 0%;
  }
}