@model WebAdmin.Models.TblCliente

@{
    ViewData["Title"] = "Crear Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Empresa</li>
        <li class="breadcrumb-item">Control de Cliente</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Cliente</li>
    </ol>
</nav>
<hr />

<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">

        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdTipoCliente" class="control-label"></label>
                <select id="drpTipoCliente" class="form-select" asp-for="IdTipoCliente" asp-items="@(new SelectList(ViewBag.ListaTipoClientes,"IdTipoCliente","TipoClienteDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>
                <span asp-validation-for="IdTipoCliente" class="text-danger"></span>
            </div>
        </div>
          <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdRol" class="control-label"></label>
                <select id="drpRol" class="form-select" asp-for="IdRol" asp-items="@(new SelectList(ViewBag.ListaRol,"IdRol","RolDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>
                <span asp-validation-for="IdRol" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="IdPerfil" class="control-label"></label>
                <select id="drpPerfil" class="form-select" asp-for="IdPerfil" asp-items="@(new SelectList(ViewBag.ListaPerfil,"IdPerfil","PerfilDesc"))">
                    <option value="">SELECCIONAR</option>
                </select>
                <span asp-validation-for="IdPerfil" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="NombreCliente" class="control-label"></label>
                    <input style="text-transform:uppercase" asp-for="NombreCliente" class="form-control" />
                    <span asp-validation-for="NombreCliente" class="text-danger"></span>
                </div>
            </div>
       <div class="col-md-2">
            <div class="form-group">
                <label asp-for="ApellidoPaterno" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="ApellidoPaterno" class="form-control" />
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="ApellidoMaterno" class="control-label"></label>
                <input style="text-transform:uppercase" asp-for="ApellidoMaterno" class="form-control" />
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <label asp-for="CorreoAcceso" class="control-label"></label>
            <div class="input-group">
             
                <input type="email" asp-for="CorreoAcceso" class="form-control" id="iCorreoAcceso" aria-describedby="basic-addon2">
            </div>
            <span asp-validation-for="CorreoAcceso" class="text-danger"></span>
        </div>
         <div class="col-md-3">
            <label asp-for="ClaveAcceso" class="control-label"></label>
            <div class="input-group">
                <input type="password" asp-for="ClaveAcceso" class="form-control" id="iClaveAcceso" aria-describedby="basic-addon2">
            </div>
            <span asp-validation-for="ClaveAcceso" class="text-danger"></span>
        </div>
        
        <br />
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        </div>
    </form>
</div>